:root {
  --azul-claro-dbc: #1D58F9;
  --azul-escuro-dbc: #2f407ccf;
  --branco: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(17, 29, 77);
  background: linear-gradient(151deg, rgba(32, 50, 121, 0.863) 0%, rgba(28, 88, 248, 0.938813025210084) 70%);
  background-size: cover;
  min-height: 100vh;
}

code {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 14px;
}