:root {
  --text-color: #070f26;

  --primary-color: #1e62fe;
  --secondary-color: #080f25;
  --background-color: #f5f5f5;

  --button-active: #749eff;
  --button-hover: #467eff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

*, textarea, button, input, select {
  font-family: 'Inter', sans-serif;
}